@font-face {
  font-family: 'Klavika-Light';
  font-weight: 200;
  src: url("../fonts/klavika/klavika-light-webfont.eot");
  src: url("../fonts/klavika/klavika-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika/klavika-light-webfont.woff") format("woff"), url("../fonts/klavika/klavika-light-webfont.ttf") format("truetype"), url("../fonts/klavika/klavika-light-webfont.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Klavika-Medium';
  font-weight: 300;
  src: url("../fonts/klavika/klavika-medium-webfont.eot");
  src: url("../fonts/klavika/klavika-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika/klavika-medium-webfont.woff") format("woff"), url("../fonts/klavika/klavika-medium-webfont.ttf") format("truetype"), url("../fonts/klavika/klavika-medium-webfont.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Klavika-Regular';
  font-weight: 400;
  src: url("../fonts/klavika/klavika-regular-webfont.eot");
  src: url("../fonts/klavika/klavika-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika/klavika-regular-webfont.woff") format("woff"), url("../fonts/klavika/klavika-regular-webfont.ttf") format("truetype"), url("../fonts/klavika/klavika-regular-webfont.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Klavika-Bold';
  font-weight: 500;
  src: url("../fonts/klavika/klavika-bold-webfont.eot");
  src: url("../fonts/klavika/klavika-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/klavika/klavika-bold-webfont.woff") format("woff"), url("../fonts/klavika/klavika-bold-webfont.ttf") format("truetype"), url("../fonts/klavika/klavika-bold-webfont.svg#svgFontName") format("svg"); }

html, body {
  height: 100%; }

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.arrow {
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 0;
      flex-grow: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none; }

.slides {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 10;
      flex-grow: 10;
  font-family: 'Klavika-Light', serif;
  text-decoration: underline; }
  .slides .hidden {
    display: none; }
  .slides .slide {
    display: -ms-flexbox;
    display: flex; }
  .slides h2 {
    font-size: 3rem;
    letter-spacing: 5px;
    margin: 2rem 0 0 2rem;
    padding: 0; }
  .slides .center {
    -ms-flex-align: center;
        align-items: center; }
  .slides .left {
    -ms-flex-align: start;
        align-items: flex-start; }
  .slides .right {
    -ms-flex-align: end;
        align-items: flex-end; }
  .slides .top {
    -ms-flex-align: center;
        align-items: center; }

.logo {
  bottom: 15px;
  height: 100px;
  position: fixed;
  right: 15px;
  width: 100px; }
  .logo svg {
    fill: #fff;
    height: 100px;
    width: 100px; }
